@font-face {
    font-family: openSans;
    src: url(OpenSans-Regular.ttf);
  }
body { 
    color: rgb(22, 40, 54); 
    background-color: #FDF5E6;
    font-family: openSans;
}
h2 {
    color:rgb(0, 145, 255);
    font-size: 32;
    font-weight: bold;

}